/* You can add global styles to this file, and also import other style files */
.tools-loader {width:60px; height: 60px; margin: auto;}
.tools-loader .loader {position: absolute; width: 60px; height: 60px; }