<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
</div>
<svg version="1.1" id="triagnleSvg" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"                                    xml:space="preserve" >
<clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
  <polygon  points="0 0,1 1,-1 1,0 "/>
</clipPath>
<clipPath id="polygon-clip-two" clipPathUnits="objectBoundingBox">
  <polygon points="0 0,9 -1,10 10,1"/>
</clipPath>
<!-- Top -->
<rect class="shape-top" clip-path="url(#polygon-clip-hexagon)" preserveAspectRatio="none" width="100%" height="100%" xlink:href="" style="fill: #1b9d62"/>
<!-- Bottom -->
<rect class="shape-bottom" clip-path="url(#polygon-clip-two)" preserveAspectRatio="none" width="100%" height="100%" xlink:href="" style="fill: #54a2d6"/>
</svg>
<div class="login-wrapper">
  <div class="login-container">

    <div class="container logo-box">
      <p><a href="javascript:void(0)"><img src="./assets/images/logo.png" alt="" title="Image App"></a></p>
    </div>
   
    <!--========= Login Input =========-->
    <div class="container">
      <div class="login-box-inn">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 login-left">

            <!-- Forgot Password Form -->
            <div class="login-left-inn">
              <h2>Reset Password</h2>
              <form role="form" [formGroup]="resetpasswordForm" (ngSubmit)="resetpassword($event, password.value, confirm_password.value)" class="login-form" id="resetPasswordForm">
                <div class="login-success-mgs">{{success}}</div>
                <div class="login-error-mgs">{{error}}</div>
                <fieldset>
                  <div class="form-group">
                    <div class="input-group input-box-only"> <span class="input-group-addon"> <i class="fa fa-user" aria-hidden="true"></i></span>
                      <input #password formControlName="password" id="password" type="password" name="password" ng-Model="password" placeholder="Password" class="form-control"/>
                    </div>
                    <div class="required-field-text">
                      <control-messages [control]="resetpasswordForm.controls.password"></control-messages>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-box-only"> <span class="input-group-addon"> <i class="fa fa-user" aria-hidden="true"></i></span>
                      <input #confirm_password formControlName="confirm_password" id="confirm_password" type="password" name="confirm_password" ng-Model="confirm_password" placeholder="Confirm Password" class="form-control"/>
                    </div>
                    <div class="required-field-text">
                      <control-messages [control]="resetpasswordForm.controls.confirm_password"></control-messages>
                    </div>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-block login-btn" type="submit" [disabled] = "!resetpasswordForm.valid">Submit</button>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            <!-- Forgot Password Form --> 



          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 login-right">
            <div class="login-right-inn">
              <h2>Use other account</h2>
              <p>you can also sign in using your facebook account or google account</p>
              <div class="social-box"> <a href="javascript:void(0)" class="to-facebook" (click)="socialSignIn('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i> Sign Up Facebook</a> <a href="javascript:void(0)" class="to-google" (click)="socialSignIn('google')"><i class="fa fa-google-plus" aria-hidden="true"></i>Sign Up Google</a> </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="shadow-container"><img src="./assets/images/shadow-bottom.png" alt=""></div>
      </div>
      <div class="signup-box"><a routerLink="../login" class="btn btn-signup">Log In<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
     
      <div class="copyright-box">
        <h4>copyright @ image app .All Right Reserved.</h4>
      </div>
    </div>
  </div>
</div>
